<div class="container">
    <div class="input-group placa">
        <div class="input-group-prepend">
          <span class="input-group-text input-size" id="">Ingrese su placa:</span>
        </div>
        <input type="text" class="form-control">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text input-size" id="">Ingrese la fecha:</span>
        </div>
        <input type="date" class="form-control">
      </div>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text input-size" id="">Ingrese la hora:</span>
        </div>
        <input type="time" class="form-control">
      </div>
      <div class="button-div">
        <button type="button" (click)="searchData()" class="btn btn-primary button-search"><i class="fas fa-search">  Buscar</i></button>
      </div>
</div>